/*@font-face{
	src:url(../fonts/Lato/Lato-Bold.ttf);
	font-family: Lato-Bold;
}
@font-face{
	src:url(../fonts/Lato/Lato-Regular.ttf);
	font-family: Lato-Regular;
}
@font-face{
	src:url(../fonts/Lato/Lato-Medium.ttf);
	font-family: Lato-Medium;
}
@font-face{
	src:url(../fonts/Roboto/Roboto-Bold.ttf);
	font-family: Roboto-Bold;
}
@font-face{
	src:url(..//fonts/Roboto/Roboto-Regular.ttf);
    font-family: Roboto-Regular;       
}
@font-face{
	src:url(../fonts/Roboto/Roboto-Medium.ttf);
	font-family: Roboto-Medium;
} */
/*common start*/
body{
	font-family: Roboto-Regular, Roboto-Medium, Roboto-Bold, sans-serif;
	font-size: 16px;
	font font-weight: 400;
	color: #8E8E8E;
}
/*common end*/
/*header start*/
header{

}
.c_nav{
	padding-top: 0;
}
.n_nav{
	padding-top: 0;
}
.logo{
	font-family: Lato-Medium, sans-serif;
}
.l_top{
	margin-bottom: -8px;
}
.l_text{
	font-size: 30px;
	font-weight: 500;
	color:#333333;
}
.menu{
	    margin-top: 30px;
}
.menu ul li a{
	font-family: Lato-Bold, sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #8E8E8E !important;
	padding: 0 15px !important;
	
}
.menu ul li a:hover{
	color: #333333 !important;
}
.nav-tog:focus {
    box-shadow: none;
}
.btn-search{

	color: #8E8E8E !important;
  
}
.btn-top{
	    margin-top: 3px;
	    background color:transparent;
}
.btn-color{    
	background-color: transparent;
}
.btn-search:hover{
	color: #333333 !important;
}
.btn-search:focus{
	box-shadow: none;
}
.d_search{
	min-width: 350px;
	top: 70px;
	padding: 10px 10px;
}
.d_search[data-bs-popper] {
    left: -295px;}



/*header end*/
/*slider start*/
.hero{}
.c_p_0{
	padding: 0 0;

}
.c_c_pre_btn, .c_c_next_btn{
	align-items: flex-end;
	color: #8E8E8E;
	width: 10%;
}
.c_c_pre_btn{

}
.c_c_next_btn{
    right: auto; 
    left: 100px;
}

.c_prev_icon, .c_next_icon{
	background-image: none;

}
.c_c_cap{
	bottom: 40%;
	text-align: left;
    width: 45%;
    border: 1px solid black;
}

/*slider end*/